.details-box img {
    width: 50px;
}

.details-box {
    float: left;
    margin-right: 30px;
    text-align: center;
}

.details h6 img{
    width: 30px;
}

@media (min-width: 575px) {
    .details-box{
        float:inline-start;
        margin-right: 30px;
    }
}